In [2]:
import numpy as np

In [3]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2,3],
                [4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
a3 = np.array([[[1,2],
                [3,4]],
               [[5,6],
                [7,8]]])
a3

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [7]:
a1.shape

(3,)

In [8]:
a2.shape

(2, 3)

In [9]:
a3.shape

(2, 2, 2)

In [10]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [11]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('int64'), dtype('int64'))

In [12]:
a4 = np.array([1,2,3.3,4])

In [13]:
a4.dtype

dtype('float64')

In [14]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [15]:
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

In [16]:
#df = pd.DataFrame(a3)

In [17]:
df = pd.DataFrame(a1)

In [18]:
df

   0
0  1
1  2
2  3

In [19]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [20]:
ones.dtype

dtype('float64')

In [21]:
type(ones)

numpy.ndarray

In [22]:
ones = np.ones((2,3),int)
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [23]:
ones.dtype

dtype('int64')

In [24]:
zeros = np.zeros((2,3))

In [25]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [26]:
rangearr = np.arange(0,10,2)
rangearr

array([0, 2, 4, 6, 8])

In [27]:
random = np.random.randint(0,10,size=(2,3))

In [28]:
random

array([[6, 4, 1],
       [0, 0, 7]])

In [29]:
random.size

6

In [30]:
random.shape

(2, 3)

In [31]:
random2 = np.random.random((5,3))

In [32]:
random2

array([[0.30655386, 0.87972158, 0.35176668],
       [0.2550029 , 0.39980527, 0.02818699],
       [0.62047441, 0.75533048, 0.23721046],
       [0.37436995, 0.91573213, 0.83182939],
       [0.76346631, 0.35814978, 0.03541249]])

In [33]:

random3= np.random.rand(5,3)
random3

array([[0.9040507 , 0.08499648, 0.70296049],
       [0.8403067 , 0.23806651, 0.07465592],
       [0.76275604, 0.23038145, 0.24332659],
       [0.4863834 , 0.62508086, 0.89086833],
       [0.64067614, 0.34658262, 0.89468771]])

In [34]:
np.random.seed(7)
random4 = np.random.randint(10, size= (5,3))
random4

array([[4, 9, 6],
       [3, 3, 7],
       [7, 9, 7],
       [8, 9, 8],
       [7, 6, 4]])

In [35]:
np.unique(random4)

array([3, 4, 6, 7, 8, 9])

In [36]:
a1[0]

1

In [37]:
a2[0]

array([1, 2, 3])

In [38]:
a3[0]

array([[1, 2],
       [3, 4]])

In [39]:
a3

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [40]:
a3[:2,:2,:2]

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [41]:
a3 = np.random.randint(10, size=(3,3,3))

In [42]:
a3

array([[[0, 7, 0],
        [7, 6, 3],
        [5, 8, 8]],

       [[7, 5, 0],
        [0, 2, 8],
        [9, 6, 4]],

       [[9, 7, 3],
        [3, 8, 3],
        [0, 1, 0]]])

In [43]:
a3[:2,:2,:2]

array([[[0, 7],
        [7, 6]],

       [[7, 5],
        [0, 2]]])

In [44]:
a4 = np.random.randint(10, size=(2,3,4,5))

In [45]:
a4

array([[[[0, 6, 7, 7, 9],
         [3, 0, 7, 7, 7],
         [0, 5, 4, 3, 1],
         [3, 1, 3, 4, 3]],

        [[1, 9, 5, 9, 1],
         [2, 3, 2, 2, 5],
         [7, 3, 0, 9, 9],
         [3, 4, 5, 3, 0]],

        [[4, 8, 6, 7, 2],
         [7, 3, 8, 6, 6],
         [5, 6, 5, 7, 1],
         [5, 4, 4, 9, 9]]],


       [[[0, 6, 2, 6, 8],
         [2, 4, 1, 6, 1],
         [5, 1, 6, 9, 8],
         [6, 5, 9, 7, 5]],

        [[4, 9, 6, 8, 1],
         [5, 5, 8, 3, 7],
         [7, 9, 4, 7, 5],
         [9, 6, 2, 0, 5]],

        [[3, 0, 5, 7, 1],
         [8, 4, 9, 0, 2],
         [0, 7, 6, 2, 9],
         [9, 5, 1, 0, 0]]]])

In [46]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [47]:
a4[:,:,:, :4]

array([[[[0, 6, 7, 7],
         [3, 0, 7, 7],
         [0, 5, 4, 3],
         [3, 1, 3, 4]],

        [[1, 9, 5, 9],
         [2, 3, 2, 2],
         [7, 3, 0, 9],
         [3, 4, 5, 3]],

        [[4, 8, 6, 7],
         [7, 3, 8, 6],
         [5, 6, 5, 7],
         [5, 4, 4, 9]]],


       [[[0, 6, 2, 6],
         [2, 4, 1, 6],
         [5, 1, 6, 9],
         [6, 5, 9, 7]],

        [[4, 9, 6, 8],
         [5, 5, 8, 3],
         [7, 9, 4, 7],
         [9, 6, 2, 0]],

        [[3, 0, 5, 7],
         [8, 4, 9, 0],
         [0, 7, 6, 2],
         [9, 5, 1, 0]]]])

In [48]:
a1+ones

array([[2, 3, 4],
       [2, 3, 4]])

In [49]:
a1

array([1, 2, 3])

In [50]:
ones

array([[1, 1, 1],
       [1, 1, 1]])

In [51]:
a1 - ones

array([[0, 1, 2],
       [0, 1, 2]])

In [52]:
a1 * ones

array([[1, 2, 3],
       [1, 2, 3]])

In [53]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [55]:
a2*ones

array([[1, 2, 3],
       [4, 5, 6]])

In [56]:
a1/ones

array([[1., 2., 3.],
       [1., 2., 3.]])

In [57]:
a2/ones

array([[1., 2., 3.],
       [4., 5., 6.]])

In [58]:
a3/ones

ValueError: operands could not be broadcast together with shapes (3,3,3) (2,3)

In [59]:
a2//a1

array([[1, 1, 1],
       [4, 2, 2]])

In [60]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [61]:
a2**2

array([[ 1,  4,  9],
       [16, 25, 36]])

In [63]:
np.square(a2)

array([[ 1,  4,  9],
       [16, 25, 36]])

In [64]:
a2%2

array([[1, 0, 1],
       [0, 1, 0]])

In [65]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [66]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

In [ ]:
np.sum(a1)